@import url("root.css");

/* General Section Styling */
section {
  height: 100vh;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main Container Styling */
.mains {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

/* Back to Top Button Styling */
.backtopdiv {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.topicon {
  font-size: 30px;
  color: #333;
  text-decoration: none;
}

/* Main Content Styling */
.main_content {
  text-align: center;
  padding: 20px;
}

.head h1 {
  margin-left: 7.5%;
  max-width: 85%;
  overflow: hidden;
  font-size: 2.85em;
  font-weight: 250;
  color: #250139;
  animation: fadeIn 2s ease-in-out;
}

.tit_div h4 {
  font-size: 10em;
  color: var(--secondary-color);
  margin-bottom: 15px;
  font-weight: 150;
  position: relative;
}

/* Logos Container Styling */
.logos_container {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
  gap: 20px; /* Gap between logo items */
}

.row_container {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
}

.cpsimg {
  max-width: 150px; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
}

.gac_img {
  align-self: center;
  max-width: 400px; /* Ensure images don't exceed their container */
  height: 100px; /* Maintain aspect ratio */
}

/* Countdown and Dates Styling */
.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.countdown {
  margin: 20px;
}
.countdown,
.date_details {
  text-align: center;
}

.countdown h3,
.event h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.countdown h3 {
  font-size: 2.5rem;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.time-box {
  text-align: center;
  margin: 25px;
  padding: 100px; /* Increased padding for larger boxes */
  border: 1.5px solid #4f0378;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.time-box span {
  font-size: 3em;
  display: block;
  color: #8400ff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.time-box p {
  font-size: 1.2em;
  color: #666;
  margin-top: 25px;
  color: #000000;
  font-weight: 300;
}

.date_details {
  width: 100%;
  display: block;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.event {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 192, 255, 0.571);
  border: 1px solid #c04aff;
  padding: 15px;
  margin-bottom: 20px; /* Increased margin for separation */
  border-radius: 20px;
  box-shadow: 0 0 15px #c04aff;
}

.event h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 5px;
}

.event span {
  font-size: 18px;
  color: #000000;
}

.event_box_01,
.event_box_03,
.event_box_05 {
  margin-left: 60%;
}
.event_box_02,
.event_box_04,
.event_box_06 {
  margin-left: -60%;
}
.about_container {
  margin: 20px auto;
  padding: 20px;
}

/* About Section Styling */
.about_section {
  height: auto;
}
.about_section_{
  padding: 20px;
  margin-bottom: 20px;
}

.about_heads h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Content Box Styles */
.about_content_box_1 p,
.about_content_box_2 p,
.about_content_box_3 p,
.about_content_box_4 p,
.about_content_box_5 p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
}

.about_content_box_1,
.about_content_box_2,
.about_content_box_3,
.about_content_box_4,
.about_content_box_5 {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: justify;
}

.about_heads h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 3%;
}

/* Alternate Background Color */
.about_section:nth-child(odd) {
  background-color: #ffffff;
}

.about_section:nth-child(even) {
  background-color: #ffffff;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.blur_box {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80%;
}

.div_1,
.div_2,
.div_3 {
  position: absolute;
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 50%; /* Ensure round shape */
}

.div_1 {
  margin-left: -90%;
  margin-top: 15%;
  width: 400px;
  height: 400px;
  border-radius: 56% 44% 33% 67% / 42% 59% 41% 58%;
  background-color: #e2aef7;
  -webkit-box-shadow: 0px 0px 60px 4px #ce51ff;
  -moz-box-shadow: 0px 0px 60px 4px #c83cff;
  box-shadow: 0px 0px 60px 4px #d15cff;
}

.div_2 {
  width: 100px;
  height: 100px;
  margin-top: 10%;
  border-radius: 27% 73% 33% 67% / 61% 35% 65% 39%;
  background-color: #ff77a9;
  -webkit-box-shadow: 0px 0px 40px 4px #ff77a9;
  -moz-box-shadow: 0px 0px 40px 4px #ff3f83;
  box-shadow: 0px 0px 40px 4px #ff1e70;
}

.div_3 {
  margin-left: 90%;
  width: 300px;
  height: 300px;
  background-color: #9effcb;
  -webkit-box-shadow: 0px 0px 60px 4px #9effcb;
  -moz-box-shadow: 0px 0px 60px 4px #9effcb;
  box-shadow: 0px 0px 60px 4px #34ff93;
}

/* Responsive Styling */
@media (max-width: 768px) {
  section {
    height: auto;
  }
  .main_content {
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .head h1 {
    width: 100%;
    font-size: 1.2rem;
    width: 100%;
  }
  .tit_div h4 {
    font-weight: 200;
    font-size: 1.5rem;
  }
  .logos_container {
    gap: 10px;
    width: 100%;
  }
  .cpsimg {
    width: 100px;
  }
  .gac_img {
    width: 200px;
    height: 70px;
  }
  .timer_container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .countdown-timer {
    gap: 5px;
  }
  .countdown h3 {
    font-size: 18px;
  }
  .time-box {
    padding: 15px;
    margin: 2px;
  }
  .time-box span {
    margin-top: 5px;
    font-size: 12px;
  }
  .time-box p {
    margin-top: 15px;
    font-size: 14px;
  }
  .date_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .event {
    width: 95%;
    padding: 10px;
  }
  .event h3 {
    font-size: 1.5rem;
    font-weight: 250;
  }
  .event span {
    font-size: 14px;
  }
  .event_box_01,
  .event_box_03,
  .event_box_05 {
    margin-left: 0;
  }
  .event_box_02,
  .event_box_04,
  .event_box_06 {
    margin-left: 0;
  }
  .about_container {
    padding: 10px;
    margin: 0;
  }
  .about_content_box_1,
  .about_content_box_2,
  .about_content_box_3,
  .about_content_box_4,
  .about_content_box_5 {
    margin: 10px;
  }
  .backtopdiv {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  .blur_box {
    flex-direction: column;
    align-items: center;
  }
  .div_1,
  .div_2,
  .div_3 {
    width: 50px;
    height: 50px;
  }
  .div_1 {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 60px 4px #ce51ff;
    -moz-box-shadow: 0px 0px 60px 4px #c83cff;
    box-shadow: 0px 0px 60px 4px #d15cff;
  }
  .div_2 {
    -webkit-box-shadow: 0px 0px 20px 4px #ff77a9;
    -moz-box-shadow: 0px 0px 20px 4px #ff3f82b6;
    box-shadow: 0px 0px 20px 4px #ff1e719d;
  }
  .div_3 {
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0px 0px 20px 4px #9effcb;
    -moz-box-shadow: 0px 0px 20px 4px #9effcb;
    box-shadow: 0px 0px 20px 4px #34ff93;
  }
}
